// Use variables
@use 'variables' as v;

.footer-simple {
  background-color: #ffffff;
  box-sizing: border-box;
  color: #6e6e6e;
  font-size: 0.7rem;
  font-variant: small-caps;
  text-align: center;
}

.footer-simple_ja {
  @extend .footer-simple;
  font-family: v.$font-family-ja;
}