@use 'variables' as v;

.title {
    font-size: 2.5rem;
    line-height: 1.1;
    font-family: v.$font-family-base;
    letter-spacing: -0.2px;
    font-weight: 400;
    margin-bottom: 30px;
    // @include media-breakpoint-up(md) {
    //   font-size: 2rem;
    //   margin-bottom: 30px;
    // }
    margin-left: -10px;
  }
  