<div style="display: flex; flex-direction: column; width: 100%; padding-right: 10px;">
  <div style="display: flex; justify-content: space-between; align-items: center; width: 100%; margin-bottom: 8px;">
    <div style="text-align: left;">{{ .Get "left" | markdownify }}</div>
    <div style="text-align: right;">{{ .Get "right" | markdownify }}</div>
  </div>
  <div style="display: flex; justify-content: space-between; align-items: center; width: 100%; margin-bottom: 8px;">
    <div style="text-align: left;">{{ .Get "left2" | markdownify }}</div>
    <div style="text-align: right;">{{ .Get "right2" | markdownify }}</div>
  </div>
  <div style="display: flex; justify-content: space-between; align-items: center; width: 100%; margin-bottom: 8px;">
    <div style="text-align: left;">{{ .Get "left3" | markdownify }}</div>
    <div style="text-align: right;">{{ .Get "right3" | markdownify }}</div>
  </div>
</div>